@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Graphik LCG, sans-serif;
  font-size: 16px;
  background: rgb(242, 242, 242);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  display: grid;
  gap: 32px;
  justify-content: space-between;
  grid-template-columns: repeat(12, minmax(60px, 80px));
  width: 100%;
  overflow: hidden;
  position: relative;
}

.header {
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 64px;
}
.header__left {
  width: 190px;
  display: flex;
  gap: 24px;
  align-items: center;
}
.header__left_logo {
  height: 56px;
}
.header__left_name {
  color: rgb(125, 125, 125);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: calc(0.875rem + 8px);
  text-align: left;
}
.header__left_name-surname {
  color: rgb(125, 125, 125);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: calc(0.875rem + 8px);
  text-align: left;
  color: rgb(27, 27, 27);
}
.header__right_label {
  cursor: pointer;
}

#menu {
  position: fixed;
  left: -99999999px;
  top: 0;
  width: 100%;
}

.menu-box {
  position: fixed;
  display: flex;
  background-image: url("../img/bg.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  transition: right 1s;
}
.menu-box__close {
  position: absolute;
  top: 28px;
  right: 63px;
}

.menu {
  width: 56%;
  background-color: rgb(255, 255, 255);
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  padding-bottom: 40px;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 58, 98) white;
}
.menu__header {
  width: 100%;
  display: flex;
  gap: 64px;
  padding: 24px 56px;
  align-items: center;
  box-sizing: border-box;
}
.menu__header_logo {
  width: 40px;
  height: 40px;
}
.menu__info {
  width: 100%;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: calc(50% - 247px);
  padding-right: calc(50% - 247px);
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
}
.menu__info_title {
  color: rgb(27, 27, 27);
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(2rem + 8px);
  text-align: left;
  margin-top: 36px;
}
.menu__info_desc {
  color: rgb(27, 27, 27);
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1rem + 8px);
  text-align: left;
  max-width: 384px;
}
.menu__info_number-phone {
  margin-top: 8px;
  color: rgb(27, 27, 27);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: calc(1.125rem + 8px);
  text-align: left;
}
.menu__info_link {
  color: rgb(27, 27, 27);
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1rem + 8px);
  text-align: left;
  margin-top: 193px;
  color: rgb(62, 41, 227);
  font-weight: 500;
}
.menu__footer {
  padding-left: calc(50% - 247px);
  padding-right: calc(50% - 247px);
  display: flex;
  gap: 24px;
}
.menu__footer_link {
  width: 48px;
  height: 48px;
}

.content-box {
  grid-column: 1/13;
  display: flex;
  justify-content: flex-start;
  gap: 165px;
  padding-bottom: 64px;
}
.content-box__nav {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding-top: 168px;
  padding-left: 64px;
}
.content-box__nav_link {
  color: rgb(125, 125, 125);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: calc(0.875rem + 8px);
  text-align: left;
}
.content-box__nav_link:hover {
  color: rgb(27, 27, 27);
}

.content {
  padding-right: calc(50% - 656px);
  padding-left: calc(50% - 656px);
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.content__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.content__info_title {
  color: rgb(27, 27, 27);
  font-size: 3rem;
  font-weight: 700;
  line-height: calc(3rem + 8px);
  text-align: left;
}
.content__info_heading {
  color: rgb(27, 27, 27);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: calc(1.5rem + 8px);
  text-align: left;
  font-weight: 400;
  margin-bottom: 48px;
}
.content__info_desc {
  color: rgb(27, 27, 27);
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1rem + 8px);
  text-align: left;
  max-width: 592px;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.grid__title {
  color: rgb(27, 27, 27);
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(2rem + 8px);
  text-align: left;
}
.grid__desc {
  color: rgb(27, 27, 27);
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1rem + 8px);
  text-align: left;
  max-width: 592px;
}
.grid__item {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 24px;
}
.grid__item_heading {
  color: rgb(27, 27, 27);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: calc(1.5rem + 8px);
  text-align: left;
}
.grid__item_img {
  width: 100%;
}
.grid__params {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.grid__params_param {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
.grid__params_param1 {
  color: rgb(125, 125, 125);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: calc(0.875rem + 8px);
  text-align: left;
}
.grid__params_param2 {
  color: rgb(27, 27, 27);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: calc(1.5rem + 8px);
  text-align: left;
  font-weight: 400;
}

.typography {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.typography__title {
  color: rgb(27, 27, 27);
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(2rem + 8px);
  text-align: left;
  margin-bottom: 24px;
}
.typography__desc {
  color: rgb(27, 27, 27);
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1rem + 8px);
  text-align: left;
  max-width: 592px;
}

.ui {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.ui__title {
  color: rgb(27, 27, 27);
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(2rem + 8px);
  text-align: left;
  margin-bottom: 24px;
}
.ui__form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.ui__form_heading {
  color: rgb(27, 27, 27);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: calc(1.5rem + 8px);
  text-align: left;
  margin-bottom: 92px;
}
.ui__form_input {
  width: 280px;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(174, 173, 174);
  background-color: transparent;
  cursor: pointer;
}
.ui__form_input:hover {
  border-bottom: 2px solid rgb(62, 41, 227);
}
.ui__form_input:focus {
  border-bottom: 4px solid rgb(62, 41, 227);
}
.ui__form_error-email {
  color: rgb(232, 15, 59);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: calc(0.75rem + 8px);
  text-align: left;
}
.ui__form_error {
  color: rgb(232, 15, 59);
}
.ui__dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.ui__dropdown_heading {
  color: rgb(27, 27, 27);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: calc(1.5rem + 8px);
  text-align: left;
  margin-top: 24px;
}
.ui__dropdown_filter-box {
  position: relative;
}
.ui__dropdown_filter {
  width: 280px;
  z-index: 1;
  position: absolute;
}
.ui__dropdown_filter[open] {
  animation: slide 0.3s ease-in-out;
}
.ui__dropdown_summary {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 16px;
  border-bottom: 2px solid rgb(174, 173, 174);
  cursor: pointer;
}
.ui__dropdown_summary-name {
  width: 255px;
}
.ui__dropdown_items {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.ui__dropdown_item {
  list-style-type: none;
  padding: 16px 24px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.ui__dropdown_item.hover {
  background-color: rgb(62, 41, 227);
  color: white;
}
.ui__dropdown_item.active {
  color: rgb(61, 40, 225);
  background-color: white;
}
.ui__button-box_heading {
  color: rgb(27, 27, 27);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: calc(1.5rem + 8px);
  text-align: left;
  margin-top: 24px;
  margin-bottom: 76px;
}
.ui__button-box_buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 76px;
}
.ui__button-box_button {
  width: 148px;
  padding: 16px 28px;
  border: none;
  outline: none;
  border-radius: 32px;
  background: linear-gradient(45deg, rgb(221, 128, 237) 37.476%, rgb(61, 40, 227) 137.476%);
  color: rgb(255, 255, 255);
  transition: background 0.3s ease;
  cursor: pointer;
}
.ui__button-box_button.hover {
  background: linear-gradient(225deg, rgb(221, 128, 237) 37.476%, rgb(61, 40, 227) 137.476%);
}
.ui__button-box_button.active {
  background: linear-gradient(206.57deg, rgb(221, 128, 237) 33.305%, rgb(61, 40, 227) 94.435%);
}
.ui__checkbox-radio {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.ui__checkbox-radio_heading {
  color: rgb(27, 27, 27);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: calc(1.5rem + 8px);
  text-align: left;
  grid-column: span 2;
}
.ui__checkbox-radio_items {
  max-width: 344px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.ui__checkbox-radio_item {
  display: flex;
  gap: 32px;
}
.ui__checkbox-radio_label {
  opacity: 0.8;
  cursor: pointer;
}
.ui__checkbox-radio_input-check {
  z-index: -1;
  opacity: 0;
  position: absolute;
}
.ui__checkbox-radio_input-check + label {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.ui__checkbox-radio_input-check + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
  border: 2px solid rgb(174, 173, 174);
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center center;
}
.ui__checkbox-radio_input-check:not(:disabled):not(:checked) + label:hover::before {
  border: 2px solid rgb(62, 41, 227);
  background-color: rgb(255, 255, 255);
}
.ui__checkbox-radio_input-check:not(:disabled):checked + label::before {
  border: 2px solid rgb(62, 41, 227);
  background-color: rgb(62, 41, 227);
  background-image: url("../img/tick.svg");
}
.ui__checkbox-radio_input-check:not(:disabled):not(:checked) + label:hover {
  opacity: 1;
}
.ui__checkbox-radio_input-check:not(:disabled):checked + label {
  opacity: 1;
}
.ui__checkbox-radio_input-radio {
  z-index: -1;
  opacity: 0;
  position: absolute;
}
.ui__checkbox-radio_input-radio + label {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.ui__checkbox-radio_input-radio + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid rgb(174, 173, 174);
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center center;
}
.ui__checkbox-radio_input-radio:not(:disabled):not(:checked) + label:hover::before {
  border: 2px solid rgb(62, 41, 227);
  background-color: rgb(255, 255, 255);
}
.ui__checkbox-radio_input-radio:not(:disabled):checked + label::before {
  border: 2px solid rgb(62, 41, 227);
  background-image: url("../img/Oval.svg");
}
.ui__checkbox-radio_input-radio:not(:disabled):not(:checked) + label:hover {
  opacity: 1;
}
.ui__checkbox-radio_input-radio:not(:disabled):checked + label {
  opacity: 1;
}
.ui__accordion {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.ui__accordion_heading {
  color: rgb(27, 27, 27);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: calc(1.5rem + 8px);
  text-align: left;
  margin-bottom: 8px;
}
.ui__accordion_item {
  border-bottom: 1px solid rgb(203, 203, 204);
  max-height: 39px;
  transition: max-height 0.3s easy;
}
.ui__accordion_item:hover {
  border-bottom: 1px solid rgb(62, 41, 227);
}
.ui__accordion_item[open] .ui__accordion_item-name {
  color: rgb(62, 41, 227);
}
.ui__accordion_item[open] {
  border-bottom: 2px solid rgb(62, 41, 227);
  max-height: 500px;
}
.ui__accordion_summary {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 15px;
  cursor: pointer;
}
.ui__accordion_item-name {
  color: rgb(125, 125, 125);
  font-weight: 500;
}
.ui__accordion_item-name:hover {
  color: rgb(27, 27, 27);
}
.ui__accordion_item-desc {
  max-width: 592px;
  padding-top: 9px;
  padding-bottom: 30px;
}

.footer {
  grid-column: 1/13;
  margin-top: 160px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
}
.footer__desc {
  text-align: center;
}

@media (min-width: 736px) and (max-width: 1199px) {
  .container {
    grid-template-columns: repeat(8, minmax(56px, 88px));
  }
  .content-width {
    padding-left: calc(50% - 464px);
    padding-right: calc(50% - 464px);
  }
  .header {
    grid-column: 1/9;
    padding: 32px 16px;
  }
  .menu__header {
    padding: 24px;
  }
  .menu__info {
    padding-left: calc(50% - 173px);
    padding-right: calc(50% - 173px);
  }
  .menu__footer {
    padding-left: calc(50% - 173px);
    padding-right: calc(50% - 173px);
  }
  .content {
    padding-right: calc(50% - 464px);
    padding-left: calc(50% - 464px);
  }
  .content-box {
    grid-column: 1/9;
    gap: 40px;
  }
  .content-box__nav {
    padding-left: 16px;
  }
  .ui__checkbox-radio {
    gap: 32px;
  }
  .footer {
    grid-column: 1/9;
  }
}
@media (min-width: 320px) and (max-width: 735px) {
  .container {
    gap: 24px;
    grid-template-columns: repeat(4, minmax(56px, 88px));
  }
  .content-width {
    padding-left: calc(50% - 212px);
    padding-right: calc(50% - 212px);
  }
  .header {
    grid-column: 1/5;
    padding: 32px 8px;
  }
  .menu-box__close {
    top: 16px;
    right: 16px;
  }
  .menu {
    width: 80%;
  }
  .menu__header {
    padding: 8px;
  }
  .menu__info {
    padding-left: calc(50% - 120px);
    padding-right: calc(50% - 120px);
  }
  .menu__info_title {
    color: rgb(27, 27, 27);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: calc(1.75rem + 8px);
    text-align: left;
  }
  .menu__footer {
    padding-left: calc(50% - 120px);
    padding-right: calc(50% - 120px);
  }
  .content-box {
    grid-column: 1/5;
    flex-direction: column;
  }
  .content {
    padding-right: calc(50% - 212px);
    padding-left: calc(50% - 212px);
  }
  .content__info_title {
    font-size: 2rem;
    line-height: calc(2rem + 8px);
  }
  .content__info_heading {
    color: rgb(27, 27, 27);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: calc(1.25rem + 8px);
    text-align: left;
  }
  .nav {
    display: none;
  }
  .grid__title {
    color: rgb(27, 27, 27);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: calc(1.75rem + 8px);
    text-align: left;
  }
  .grid__item_heading {
    color: rgb(27, 27, 27);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: calc(1.25rem + 8px);
    text-align: left;
  }
  .grid__params_param2 {
    color: rgb(27, 27, 27);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: calc(1.25rem + 8px);
    text-align: left;
  }
  .typography__title {
    color: rgb(27, 27, 27);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: calc(1.75rem + 8px);
    text-align: left;
  }
  .ui__title {
    color: rgb(27, 27, 27);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: calc(1.75rem + 8px);
    text-align: left;
  }
  .ui__form_heading {
    color: rgb(27, 27, 27);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: calc(1.25rem + 8px);
    text-align: left;
  }
  .ui__dropdown_heading {
    color: rgb(27, 27, 27);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: calc(1.25rem + 8px);
    text-align: left;
  }
  .ui__button-box_heading {
    color: rgb(27, 27, 27);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: calc(1.25rem + 8px);
    text-align: left;
  }
  .ui__checkbox-radio_heading {
    color: rgb(27, 27, 27);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: calc(1.25rem + 8px);
    text-align: left;
    grid-column: span 1;
  }
  .ui__checkbox-radio {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
  .ui__accordion_heading {
    color: rgb(27, 27, 27);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: calc(1.25rem + 8px);
    text-align: left;
  }
  .footer {
    grid-column: 1/5;
    margin-top: 32px;
  }
}/*# sourceMappingURL=style.css.map */