@import "vars"

*
    margin: 0
    padding: 0

body
    font-family: Graphik LCG, sans-serif
    font-size: 16px
    background: rgb(242, 242, 242)

.container
    display: grid
    gap: 32px
    justify-content: space-between
    grid-template-columns: repeat(12, minmax(60px, 80px))
    width: 100%
    // overflow: hidden
    // position: relative

.content
    min-width: 1072px
    max-width: 1312px

.header
    grid-column: 1 / 13
    display: flex
    justify-content: space-between
    align-items: center
    padding: 32px 64px

    &__left
        width: 190px
        display: flex
        gap: $gapStandart
        align-items: center
        &_logo
            height: 56px
        &_name
            color: rgb(125, 125, 125)
            font-size: 0.875rem
            font-weight: 400
            line-height: calc(0.875rem + 8px)
            text-align: left
        &_name-surname
            color: rgb(27, 27, 27)
            font-size: 0.875rem
            font-weight: 500
            line-height: calc(0.875rem + 8px)
            text-align: left

#menu
    position: fixed
    left: -99999999px
    top: 0
    width: 100%

.menu-box
    position: fixed
    background-image: url("../img/bg.png")
    background-size: cover
    width: 100%
    height: 100%
    top: 0
    right: -100%
    transition: right 1s

.menu
    background: rgb(255, 255, 255)
    min-width: 760px
    display: flex
    flex-direction: column


@media (min-width: 736px) and ( max-width: 1199px)
    .container
        grid-template-columns: repeat(8, minmax(56px, 88px))

    .content
        min-width: 672px
        max-width: 928px

    .header
        grid-column: 1 / 9

@media (min-width: 320px) and ( max-width: 735px)
    .body

    .container
        gap: $gapStandart
        grid-template-columns: repeat(4, minmax(56px, 88px))

    .content
        min-width: 296px
        max-width: 424px

    .header
        grid-column: 1 / 5
        &__left_name
            display: none
