* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Graphik LCG, sans-serif;
  font-size: 16px;
  background: rgb(242, 242, 242);
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  gap: 32px;
  justify-content: space-between;
  grid-template-columns: repeat(12, minmax(60px, 80px));
  width: 100%;
  overflow: hidden;
  position: relative;
}

.content-width {
  min-width: 1072px;
  max-width: 1312px;
}

.header {
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 64px;
}
.header__left {
  width: 190px;
  display: flex;
  gap: 24px;
  align-items: center;
}
.header__left_logo {
  height: 56px;
}
.header__left_name {
  color: rgb(125, 125, 125);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: calc(0.875rem + 8px);
  text-align: left;
}
.header__left_name-surname {
  color: rgb(27, 27, 27);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: calc(0.875rem + 8px);
  text-align: left;
}

#menu {
  position: fixed;
  left: -99999999px;
  top: 0;
  width: 100%;
}

.menu-box {
  position: fixed;
  display: flex;
  background-image: url("../img/bg.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  transition: right 1s;
}
.menu-box__close {
  position: absolute;
  top: 28px;
  right: 63px;
}

.menu {
  width: 760px;
  background-color: rgb(255, 255, 255);
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  padding-bottom: 40px;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 58, 98) white;
}
.menu__header {
  width: 100%;
  display: flex;
  gap: 64px;
  padding-top: 24px;
  padding-left: 56px;
  align-items: center;
}
.menu__header_logo {
  width: 40px;
  height: 40px;
}
.menu__info {
  width: 494px;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 160px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
}
.menu__info_title {
  margin-top: 36px;
  color: rgb(27, 27, 27);
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(2rem + 8px);
  text-align: left;
}
.menu__info_desc {
  width: 384px;
  color: rgb(27, 27, 27);
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1rem + 8px);
  text-align: left;
}
.menu__info_number-phone {
  margin-top: 8px;
  color: rgb(27, 27, 27);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: calc(1.125rem + 8px);
  text-align: left;
}
.menu__info_link {
  margin-top: 193px;
  color: rgb(62, 41, 227);
  font-size: 1rem;
  font-weight: 500;
  line-height: calc(1rem + 8px);
  text-align: left;
}
.menu__footer {
  padding-left: 160px;
  display: flex;
  gap: 24px;
}
.menu__footer_link {
  width: 48px;
  height: 48px;
}

.content-box {
  grid-column: 1/13;
  display: flex;
  justify-content: flex-start;
  gap: 165px;
  padding-bottom: 64px;
}
.content-box__nav {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding-top: 168px;
  padding-left: 64px;
}
.content-box__nav_list {
  list-style-type: none;
  color: rgb(125, 125, 125);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: calc(0.875rem + 8px);
  text-align: left;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 904px;
}
.content__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.content__info_title {
  color: rgb(27, 27, 27);
  font-size: 3rem;
  font-weight: 700;
  line-height: calc(3rem + 8px);
  text-align: left;
}
.content__info_heading {
  color: rgb(27, 27, 27);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: calc(1.5rem + 8px);
  text-align: left;
  margin-bottom: 48px;
}
.content__info_desc {
  color: rgb(27, 27, 27);
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1rem + 8px);
  text-align: left;
  max-width: 592px;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.grid__title {
  color: rgb(27, 27, 27);
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(2rem + 8px);
  text-align: left;
}
.grid__desc {
  color: rgb(27, 27, 27);
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1rem + 8px);
  text-align: left;
  max-width: 592px;
}
.grid__item {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 24px;
}
.grid__item_heading {
  color: rgb(27, 27, 27);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: calc(1.5rem + 8px);
  text-align: left;
}
.grid__params {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.grid__params_param {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.grid__params_param1 {
  color: rgb(125, 125, 125);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: calc(0.875rem + 8px);
  text-align: left;
  width: 176px;
}
.grid__params_param2 {
  color: rgb(27, 27, 27);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: calc(1.5rem + 8px);
  text-align: left;
  width: 176px;
}

.typography {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.typography__title {
  color: rgb(27, 27, 27);
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(2rem + 8px);
  text-align: left;
  margin-bottom: 24px;
}
.typography__desc {
  color: rgb(27, 27, 27);
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1rem + 8px);
  text-align: left;
  max-width: 592px;
}

.ui {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.ui__title {
  color: rgb(27, 27, 27);
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(2rem + 8px);
  text-align: left;
  margin-bottom: 24px;
}
.ui__form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.ui__form_heading {
  color: rgb(27, 27, 27);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: calc(1.5rem + 8px);
  text-align: left;
  margin-bottom: 92px;
}
.ui__form_input {
  width: 280px;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(174, 173, 174);
  background-color: transparent;
  color: rgb(27, 27, 27);
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1rem + 8px);
  text-align: left;
}
.ui__form_input:hover {
  border-bottom: 2px solid rgb(62, 41, 227);
}
.ui__form_input:focus {
  border-bottom: 4px solid rgb(62, 41, 227);
}
.ui__form_error-email {
  color: rgb(232, 15, 59);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: calc(0.75rem + 8px);
  text-align: left;
}
.ui__form_error {
  color: rgb(232, 15, 59);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: calc(0.875rem + 8px);
  text-align: left;
}
.ui__dropdown {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.ui__dropdown_heading {
  margin-top: 24px;
  color: rgb(27, 27, 27);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: calc(1.5rem + 8px);
  text-align: left;
}
.ui__dropdown_desc {
  color: rgb(27, 27, 27);
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1rem + 8px);
  letter-spacing: 0px;
  text-align: left;
}
.ui__button-box_heading {
  color: rgb(27, 27, 27);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: calc(1.5rem + 8px);
  text-align: left;
  margin-top: 24px;
  margin-bottom: 76px;
}
.ui__button-box_buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 76px;
}
.ui__button-box_button {
  width: 148px;
  padding: 16px 28px;
  border: none;
  outline: none;
  border-radius: 32px;
  background: linear-gradient(45deg, rgb(221, 128, 237) 37.476%, rgb(61, 40, 227) 137.476%);
  color: rgb(255, 255, 255);
  transition: background 0.3s ease;
  font-size: 1rem;
  font-weight: 500;
  line-height: calc(1rem + 8px);
  text-align: center;
}
.ui__button-box_button:hover {
  background: linear-gradient(225deg, rgb(221, 128, 237) 37.476%, rgb(61, 40, 227) 137.476%);
}
.ui__button-box_button:active {
  background: linear-gradient(206.57deg, rgb(221, 128, 237) 33.305%, rgb(61, 40, 227) 94.435%);
}
.ui__checkbox-radio {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.ui__checkbox-radio_heading {
  color: rgb(27, 27, 27);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: calc(1.5rem + 8px);
  text-align: left;
}

.filter {
  width: 280px;
}
.filter__summary {
  display: flex;
  align-items: baseline;
  gap: 16px;
  border-bottom: 2px solid rgb(174, 173, 174);
}
.filter__summary_name {
  width: 255px;
  color: rgb(27, 27, 27);
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1rem + 8px);
  text-align: left;
}
.filter__items {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.filter__items_item {
  color: rgb(27, 27, 27);
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1rem + 8px);
  text-align: left;
  list-style-type: none;
  padding: 16px 24px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.filter__items_item:hover {
  background-color: rgb(62, 41, 227);
  color: white;
}
.filter__items_item:active {
  color: rgb(61, 40, 225);
  background-color: white;
}

@media (min-width: 736px) and (max-width: 1199px) {
  .container {
    grid-template-columns: repeat(8, minmax(56px, 88px));
  }
  .content-width {
    min-width: 672px;
    max-width: 928px;
  }
  .header {
    grid-column: 1/9;
  }
}
@media (min-width: 320px) and (max-width: 735px) {
  .container {
    gap: 24px;
    grid-template-columns: repeat(4, minmax(56px, 88px));
  }
  .content-width {
    min-width: 296px;
    max-width: 424px;
  }
  .header {
    grid-column: 1/5;
  }
  .header__left_name {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */