
*
    margin: 0
    padding: 0

body
    font-family: Graphik LCG, sans-serif
    font-size: 16px
    background: rgb(242, 242, 242)

a
    text-decoration: none

.container
    display: grid
    gap: 32px
    justify-content: space-between
    grid-template-columns: repeat(12, minmax(60px, 80px))
    width: 100%
    overflow: hidden
    position: relative

.content-width
    min-width: 1072px
    max-width: 1312px

.header
    grid-column: 1 / 13
    display: flex
    justify-content: space-between
    align-items: center
    padding: 32px 64px

    &__left
        width: 190px
        display: flex
        gap: 24px
        align-items: center
        &_logo
            height: 56px
        &_name
            color: rgb(125, 125, 125)
            font-size: 0.875rem
            font-weight: 400
            line-height: calc(0.875rem + 8px)
            text-align: left
        &_name-surname
            color: rgb(27, 27, 27)
            font-size: 0.875rem
            font-weight: 500
            line-height: calc(0.875rem + 8px)
            text-align: left

#menu
    position: fixed
    left: -99999999px
    top: 0
    width: 100%

.menu-box
    position: fixed
    display: flex
    background-image: url("../img/bg.png")
    background-size: cover
    width: 100%
    height: 100%
    top: 0
    right: -100%
    transition: right 1s
    &__close
        position: absolute
        top: 28px
        right: 63px

.menu
    width: 760px
    background-color: rgb(255, 255, 255)
    margin-top: 8px
    margin-bottom: 8px
    margin-left: 8px
    padding-bottom: 40px
    box-sizing: border-box
    overflow: scroll
    overflow-x: hidden
    scrollbar-width: thin
    scrollbar-color: rgb(255, 58, 98) white
    &__header
        width: 100%
        display: flex
        gap: 64px
        padding-top: 24px
        padding-left: 56px
        align-items: center
        &_logo
            width: 40px
            height: 40px

    &__info
        width: 494px
        padding-top: 36px
        padding-bottom: 36px
        padding-left: 160px
        display: flex
        flex-direction: column
        gap: 24px
        box-sizing: border-box

        &_title
            margin-top: 36px
            color: rgb(27, 27, 27)
            font-size: 2rem
            font-weight: 700
            line-height: calc(2rem + 8px)
            text-align: left
        &_desc
            width: 384px
            color: rgb(27, 27, 27)
            font-size: 1rem
            font-weight: 400
            line-height: calc(1rem + 8px)
            text-align: left
        &_number-phone
            margin-top: 8px
            color: rgb(27, 27, 27)
            font-size: 1.125rem
            font-weight: 500
            line-height: calc(1.125rem + 8px)
            text-align: left
        &_link
            margin-top: 193px
            color: rgb(62, 41, 227)
            font-size: 1rem
            font-weight: 500
            line-height: calc(1rem + 8px)
            text-align: left
    &__footer
        padding-left: 160px
        display: flex
        gap: 24px
        &_link
            width: 48px
            height: 48px

.content-box
    grid-column: 1 / 13
    display: flex
    justify-content: flex-start
    gap: 165px
    padding-bottom: 64px
    &__nav
        display: flex
        gap: 16px
        flex-direction: column
        padding-top: 168px
        padding-left: 64px
        &_list
            list-style-type: none
            color: rgb(125, 125, 125)
            font-size: 0.875rem
            font-weight: 400
            line-height: calc(0.875rem + 8px)
            text-align: left

.content
    display: flex
    flex-direction: column
    gap: 80px
    max-width: 904px
    &__info
        display: flex
        flex-direction: column
        gap: 16px
        &_title
            color: rgb(27, 27, 27)
            font-size: 3rem
            font-weight: 700
            line-height: calc(3rem + 8px)
            text-align: left
        &_heading
            color: rgb(27, 27, 27)
            font-size: 1.5rem
            font-weight: 400
            line-height: calc(1.5rem + 8px)
            text-align: left
            margin-bottom: 48px
        &_desc
            color: rgb(27, 27, 27)
            font-size: 1rem
            font-weight: 400
            line-height: calc(1rem + 8px)
            text-align: left
            max-width: 592px
.grid
    display: flex
    flex-direction: column
    gap: 16px
    &__title
        color: rgb(27, 27, 27)
        font-size: 2rem
        font-weight: 700
        line-height: calc(2rem + 8px)
        text-align: left
    &__desc
        color: rgb(27, 27, 27)
        font-size: 1rem
        font-weight: 400
        line-height: calc(1rem + 8px)
        text-align: left
        max-width: 592px
    &__item
        display: flex
        flex-direction: column
        gap: 32px
        padding-top: 24px
        &_heading
            color: rgb(27, 27, 27)
            font-size: 1.5rem
            font-weight: 500
            line-height: calc( 1.5rem + 8px)
            text-align: left
    &__params
        display: flex
        flex-direction: column
        gap: 8px
        &_param
            display: flex
            flex-direction: row
            gap: 32px
        &_param1
            color: rgb(125, 125, 125)
            font-size: 0.875rem
            font-weight: 400
            line-height: calc(0.875rem + 8px)
            text-align: left
            width: 176px
        &_param2
            color: rgb(27, 27, 27)
            font-size: 1.5rem
            font-weight: 400
            line-height: calc(1.5rem + 8px)
            text-align: left
            width: 176px

.typography
    display: flex
    flex-direction: column
    gap: 24px
    &__title
        color: rgb(27, 27, 27)
        font-size: 2rem
        font-weight: 700
        line-height: calc(2rem + 8px)
        text-align: left
        margin-bottom: 24px
    &__desc
        color: rgb(27, 27, 27)
        font-size: 1rem
        font-weight: 400
        line-height: calc(1rem + 8px)
        text-align: left
        max-width: 592px

.ui
    display: flex
    flex-direction: column
    gap: 24px
    &__title
        color: rgb(27, 27, 27)
        font-size: 2rem
        font-weight: 700
        line-height: calc(2rem + 8px)
        text-align: left
        margin-bottom: 24px

    &__form
        display: flex
        flex-direction: column
        gap: 6px
        &_heading
            color: rgb(27, 27, 27)
            font-size: 1.5rem
            font-weight: 500
            line-height: calc(1.5rem + 8px)
            text-align: left
            margin-bottom: 92px
        &_input
            width: 280px
            border: none
            outline: none
            border-bottom: 2px solid rgb(174, 173, 174)
            background-color: transparent
            color: rgb(27, 27, 27)
            font-size: 1rem
            font-weight: 400
            line-height: calc(1rem + 8px)
            text-align: left

        &_error-email
            color: rgb(232, 15, 59)
            font-size: 0.75rem
            font-weight: 400
            line-height: calc(0.75rem + 8px)
            text-align: left
        &_error
            color: rgb(232, 15, 59)
            font-size: 0.875rem
            font-weight: 400
            line-height: calc(0.875rem + 8px)
            text-align: left

@media (min-width: 736px) and ( max-width: 1199px)
    .container
        grid-template-columns: repeat(8, minmax(56px, 88px))

    .content-width
        min-width: 672px
        max-width: 928px

    .header
        grid-column: 1 / 9

@media (min-width: 320px) and ( max-width: 735px)

    .container
        gap: 24px
        grid-template-columns: repeat(4, minmax(56px, 88px))

    .content-width
        min-width: 296px
        max-width: 424px

    .header
        grid-column: 1 / 5
        &__left_name
            display: none
